/* '@font-face' links your .ttf to your css to then your html so that you can use downloaded fonts. you need to initially identify your font in its folder before then applying its 'font-family' to a more specific css element that targets which text on the page you want assigned that font */

@font-face {
    font-family: RubikBubbles;
    src: url(/media/RubikBubbles-Regular.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(/media/Nunito-VariableFont_wght.ttf);
}

/* you can have as many css files as you like as long as you are aware of conflicting code elements such as targeting the html/body etc more than once in multiple css files. you can only have one set element per html tag/class/id. you can, however, assign multiple tags per element in order to visually represent them both as the same in your viewport. */

html,
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, rgb(15, 29, 22) 0%, rgb(26, 19, 5) 100%);
    margin: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* 
-------------- 'INDEX' FIRST PAGE CSS --------------
It is important to first decide how you'll organize your file and then continue to follow that system thoughout your coding process. Comments like these are ignored by the computer so you can contextualize your code via '/ * * /'
*/

/* ----- Header CSS ----- */

header {
    height: 155px;
    width: 100%;
    text-align: center;
    opacity: 0.7;
}

nav {
    position: relative;
}

.titlecard a {
    color: whitesmoke;
    transition: ease-in-out 0.8s;
    font-size: 122px;
}

.titlecard {
    position: relative;
    font-family: RubikBubbles;
}

.titlecard a:hover {
    color: rgb(49, 74, 62);
    font-size: 124px;
}

h1 {
    margin: 0;
    height: 130px;
}

button {
    font-family: Nunito;
    width: 250px;
    height: 20px;
    margin-left: 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    color: palevioletred;
    transition: ease 0.5s;
}

button:hover {
    opacity: 1;
    color: rgb(34, 193, 195);
    background-color: whitesmoke;
}

/* ----- Main CSS ----- */

#indexmain {
    width: 100%;
    text-align: center;
}

video {
    padding: 1%;
    width: 720px;
    overflow: hidden;
    border-radius: 25px;
}

#subtext {
    color: whitesmoke;
    font-family: Nunito;
}

/* ----- Footer CSS ----- */

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

marquee {
    padding: 1.5%;
}

/* -------------- ABOUT ME PAGE -------------- */

#abtmain {
    text-align: center;
}

.mybio {
    width: 365px;
    font-family: Nunito;
    color: whitesmoke;
    position: absolute;
    text-align: right;
    left: 30vw;
    top: 23vh;
}

.luigipng {
    position: absolute;
    top: 0;
}

/* -------------- CONTACT PAGE -------------- */

textarea,
input {
    border: none;
    border-radius: 5px;
}

.mail {
    position: relative;
    left: 3%;
}

.emailme {
    background-color: rgb(0, 255, 255, 0.7);

    width: 35vw;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    border-radius: 15px;
}

.emailsend {
    border-radius: 10px;
    border-style: none;
    height: 10%;
    width: 57%;
    position: relative;
    margin: 2%;
    background: rgba(10, 82, 60, 0.3);
    transition: ease 1s;
}

.emailsend:hover {
    background: rgba(10, 82, 60, 0.8);
}

.sendtext {
    font-family: Nunito;
    color: cyan;
    display: block;
    position: relative;
    font-size: 25px;
}

.sendtext1 {
    font-size: 20px;
    padding: 0;
    margin: 1;
}

.msg {
    width: 55%;
}

.socialmedia {
    position: relative;
    background-color: red;
    right: 35vw;
    top: 30vh;
}


/* GALLERY */

#gallerytitle a {
    color: whitesmoke;
    transition: ease-in-out 0.8s;
    font-size: 110px;
    position: relative;
    font-family: RubikBubbles;
}

#gallerytitle a:hover {
    color: aqua;
    font-size: 111px;
}